body{
    background: #48D1CC;
}
div{
    background: #FFFFFF;
    width: 70%;
    margin: 50px auto 20px;
    padding: 20px 50px;
    text-align: center;
    border-radius: 10px;
}
h1{
    color:#800080 ;
    text-transform: uppercase;
    font-size: 26px;
}
h2{
    color:#800080;
    text-transform: uppercase;
    font-size: 15px;
}
a{
    color:#800080;
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 12px;
}
form{
    margin: 30px auto;
    width: 40%;
    padding: 20px 5%;
    text-align: left;
}

input{
    margin-top: 5px;
    font-size: 18px;
    line-height: 28px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
}
input[type="submit"], button{
    cursor: pointer;
    background: #259e00;
    color: #fff;
    display: inline-block;
    height: 35px;
    width: 35%;
}
a button{
    background: #259e00;
    color: #fff;
    display: inline-block;
    height: 35px;
    width: 35%;
    cursor: pointer;
}
